# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.env
.env.*
venv/
ENV/
env/
*.egg-info/
dist/
build/
.eggs/

# Django static/media
staticfiles/
media/
static/

# VS Code
.vscode/

# macOS
.DS_Store

# Docker
*.pid
*.seed
*.bak
*.swp
docker-compose.override.yml

# Celery
celerybeat-schedule
celerybeat.pid

# DB
*.db

# Coverage / testing
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/

# Git
*.orig
